.filters-container {
    display: flex;
    justify-content: center;
}

.filters-container label {
    border-radius: 0;
    border-right: 0;
}

.filters-container label:first-child {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.filters-container label:last-child {
    border-right: solid 1px #212529;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.filter-hover:hover {
    background-color: white;
    color: #212529;
    box-shadow: 0 0 10px #212529;
}

#id-display-filter, #personal-inf-display-filter, #distance-display-filter,#departure-time-display-filter, #arrival-time-display-filter,
#city-from-display-filter, #city-to-display-filter, #created-at-display-filter, #updated-at-display-filter, #places-of-work-display-filter,
#transport-category-display-filter, #working-book-display-filter, #exp-of-work-display-filter{
    display: none;
}

#id-display-filter ~ * #id {
    display: none;
}

#id-display-filter:checked ~ * #id {
    display: table-cell;
}

#personal-inf-display-filter ~ * #personal-inf {
    display: none;
}

#personal-inf-display-filter:checked ~ * #personal-inf {
    display: table-cell;
}

#distance-display-filter ~ * #distance {
    display: none;
}

#distance-display-filter:checked ~ * #distance {
    display: table-cell;
}

#departure-time-display-filter ~ * #departure-time {
    display: none;
}

#departure-time-display-filter:checked ~ * #departure-time {
    display: table-cell;
}

#arrival-time-display-filter ~ * #arrival-time {
    display: none;
}

#arrival-time-display-filter:checked ~ * #arrival-time {
    display: table-cell;
}

#city-from-display-filter ~ * #city-from {
    display: none;
}

#city-from-display-filter:checked ~ * #city-from {
    display: table-cell;
}

#city-to-display-filter ~ * #city-to {
    display: none;
}

#city-to-display-filter:checked ~ * #city-to {
    display: table-cell;
}

#created-at-display-filter ~ * #created-at {
    display: none;
}

#created-at-display-filter:checked ~ * #created-at {
    display: table-cell;
}

#updated-at-display-filter ~ * #updated-at {
    display: none;
}

#updated-at-display-filter:checked ~ * #updated-at {
    display: table-cell;
}

#places-of-work-display-filter ~ * #places-of-work {
    display: none;
}

#places-of-work-display-filter:checked ~ * #places-of-work {
    display: table-cell;
}

#transport-category-display-filter ~ * #transport-category {
    display: none;
}

#transport-category-display-filter:checked ~ * #transport-category {
    display: table-cell;
}

#working-book-display-filter ~ * #working-book {
    display: none;
}

#working-book-display-filter:checked ~ * #working-book {
    display: table-cell;
}

#exp-of-work-display-filter ~ * #exp-of-work {
    display: none;
}

#exp-of-work-display-filter:checked ~ * #exp-of-work {
    display: table-cell;
}

#id-display-filter:checked ~ * #for-id {
    background-color: #212529;
    color: white;
}

#personal-inf-display-filter:checked ~ * #for-personal-inf {
    background-color: #212529;
    color: white;
}

#distance-display-filter:checked ~ * #for-distance {
    background-color: #212529;
    color: white;
}

#departure-time-display-filter:checked ~ * #for-departure-time {
    background-color: #212529;
    color: white;
}

#arrival-time-display-filter:checked ~ * #for-arrival-time {
    background-color: #212529;
    color: white;
}

#city-from-display-filter:checked ~ * #for-city-from {
    background-color: #212529;
    color: white;
}

#city-to-display-filter:checked ~ * #for-city-to {
    background-color: #212529;
    color: white;
}

#created-at-display-filter:checked ~ * #for-created-at {
    background-color: #212529;
    color: white;
}

#updated-at-display-filter:checked ~ * #for-updated-at {
    background-color: #212529;
    color: white;
}

#places-of-work-display-filter:checked ~ * #for-places-of-work {
    background-color: #212529;
    color: white;
}

#transport-category-display-filter:checked ~ * #for-transport-category {
    background-color: #212529;
    color: white;
}

#working-book-display-filter:checked ~ * #for-working-book {
    background-color: #212529;
    color: white;
}

#exp-of-work-display-filter:checked ~ * #for-exp-of-work {
    background-color: #212529;
    color: white;
}